.parrafo2{
  position: relative;
  text-align:center;
  border: 2px solid black;
  top: 30px;
  background-color: beige;
  padding: 20px;
  border-radius: 10px;
  font-size: 18px;
  
 

}

.parrafo3{
  align-content: center;
  position: relative;
  right: 50px;
}

.fotos{
  width: 200px;
  margin-top: 10px;
  margin-left: 50px;
}


