*{
    margin: 0;
    padding: 0;
}





body{
    background-color: #FAD7A0 ;
}





.grid{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: repeat(4,1fr);
    gap: 10px;
    
}








.grid > nav{
    grid-row: 1/5;
}
.grid > header{
    grid-column: 2/4;
}
.grid > aside{
    grid-row: 2/4;
    grid-column: 3/4;
}
.grid > footer{
    grid-column: 2/3;
}

.grid > section{
    grid-row: 2/4;
}




.grid-titulo{
    text-align: center;
    
}

.encabezado{
   
    display: inline-flex;
   align-items:center;
   margin-left: 20px;
   margin-top: 40px;
   margin-right: 380px;
   
}
















.menucontinuo{
    border: 3px outset black;
    height: 350px;
    background-color: beige;
    text-align: justify;
    padding-bottom: 20px;
    list-style-type: none;
    width: 130px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.menu{

    margin-left: 80px;
   align-content: center;
   margin-top: 126px;
   
   
   
}

li :hover{
    background-color: #F6DDCC;
    font-size: 20px;
}
li{
    margin: 25px;
    list-style-type: none;
    text-decoration: none;
    }







    

 .cuadro{
        position: relative;
        background-color: bisque;
        border: 2px solid black;
        border-radius: 10px;
        
 }

 .menu2{
    position: relative;
    padding-top: 10px;
    
}
.nombre{
    position: relative;
    margin-top: 10px;
}
.boton{
    position: relative;
    margin-bottom: 10px;
}

.interiorcuadro{
    position: relative;
    margin-left: 20px;
}



.aside{
    text-align: center;
    background-color: beige;
    border: 3px solid black;
    margin-right: 3px;
    border-radius: 10px;
}
.aside > h3{
    text-decoration: underline;
    margin: 5px;
}
.aside > p {
    margin-top: 10px;
    font-size: 18px;
}







.footer{
    position: relative;
    text-align: center;
    padding-top: 140px;
    font-size: 20px;
    align-content: center;
    
    }





 .inicio{
    position: fixed;
    top: 660px;
    left: 1100px; 
    border: 2px solid black;
}






@media screen and (max-width:768px) {




    .grid-titulo{
        position: relative;
        display:inline;
        
    }
    
    .encabezado{
        position: relative;
        right: 100px;
        width: 0px;
       
        display: inline-flex;
       align-items:flex-start;
       
       margin-top: 0px;
       margin-right: 80px;
       
    }


.menucontinuo{
    position: relative;
    right: 80px;
    bottom: 135px;
    border: 3px outset black;
    height: 230px;
    background-color: beige;
    text-align: justify;
    padding-bottom: 50px;
    list-style-type: none;
    width: 120px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    

}

.menu{

    margin-left: 80px;
   align-content: center;
   margin-top: 126px;
   
   
   
}

li :hover{
    background-color: #F6DDCC;
    font-size: 20px;
}
li{
    margin: 15px;
    list-style-type: none;
    text-decoration: none;
    }






    .cuadro{
        position: relative;
        right: 85px;
        
        background-color: bisque;
        border: 2px solid black;
        border-radius: 10px;
        
 }

 .menu2{
    position: relative;
    padding-top: 10px;
    
}
.nombre{
    position: relative;
    margin-top: 5px;
}
.boton{
    position: relative;
    margin-bottom: 10px;
}

.interiorcuadro{
    position: relative;
    margin-left: 10px;
}







.aside{
    position: relative;
    height: 190px;
    right: 408px;
    top: 154px;
    width: 120px;
    text-align: center;
    background-color: beige;
    border: 3px solid black;
    margin-right: 3px;
    border-radius: 10px;
}
.aside > h3{
    text-decoration: underline;
    font-size: 15px;
    margin: 5px;
}
.aside > p {
    margin-top: 15px;
    font-size: 13px;
}





.footer{
    position: relative;
    right: 150px;
    padding-top: 140px;
    font-size: 11px;
    
    
    
    }


    .inicio{
        position: fixed;
        top: 530px;
        left: 15px; 
        border: 2px solid black;
    }







       
    

    }







