*{
    margin: 0;
    padding: 0;
}





body{
    background-color: #FAD7A0 ;
}





.grid{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: repeat(4,1fr);
    gap: 10px;
    
}












.grid > nav{
    grid-row: 1/5;
}
.grid > header{
    grid-column: 2/4;
}
.grid > aside{
    grid-row: 2/4;
    grid-column: 3/4;
}
.grid > footer{
    grid-column: 2/3;
    grid-row: 3/5;
}





.menucontinuo{
    border: 3px outset black;
    height: 350px;
    background-color: beige;
    text-align: justify;
    padding-bottom: 20px;
    list-style-type: none;
    width: 130px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-image: radial-gradient(rgb(145, 203, 203), beige);

}

.menu{

    margin-left: 80px;
   align-content: center;
   margin-top: 126px;
   
   
   
}

li :hover{
    background-color: #F6DDCC;
    font-size: 20px;
    transition: 95ms;
}
li{
    margin: 25px;
    list-style-type: none;
    text-decoration: none;
    }




.grid-titulo{
    text-align: center;
    
}

.encabezado{
   
    display: inline-flex;
   align-items:center;
   margin-left: 220px;
   margin-top: 40px;
   margin-right: 380px;
   
}

.encabezado :hover{
    background-color: aqua;
    transition: 3s;
}


.fotosequipos{
    width: 150px;
    margin-top: 20px;
    padding: 20px;
}
.fotosanimacion :hover{
    width: 200px;
    transition: 1s;
}


h1{
    text-align: center;
    position: relative;
    padding-top: 20px;
    text-decoration: underline;
}


.parrafo{
    position: relative;
    text-align:center;
    border: 2px solid black;
    top: 80px;
    background-color: beige;
    padding: 20px;
    border-radius: 10px;
    font-size: 20px;
   
  
}


.footer{
    position: relative;
    text-align: center;
    padding-top: 185px;
    font-size: 20px;
    align-content: center;
    
    }



.inicio{
position: fixed;
top: 660px;
left: 1100px; 
border: 2px solid black;
}


@keyframes aparecer {
    0%{
        opacity: 0;

    }
    100%{
        opacity: 1;
    }
}

h2 {
    animation-duration: 4s;
    animation-name: aparecer;
    animation-iteration-count: infinite;
}
.imganimada{
    animation-duration: 4s;
    animation-name: aparecer;
    animation-iteration-count: infinite;
}




