*{
    margin: 0;
    padding: 0;
}





body{
    background-color: #FAD7A0 ;
}





.grid{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: repeat(4,1fr);
    gap: 10px;
    
}










.grid > nav{
    grid-row: 1/5;
}
.grid > header{
    grid-column: 2/4;
}
.grid > aside{
    grid-row: 2/4;
    grid-column: 3/4;
}
.grid > footer{
    grid-column: 2/3;
}






.grid-titulo{
    text-align: center;
    
}

.encabezado{
   
    display: inline-flex;
   align-items:center;
   margin-left: 220px;
   margin-top: 40px;
   margin-right: 380px;
   
}
.encabezado :hover{
    background-color: aqua;
    transition: 3s;
}










.menucontinuo{
    border: 3px outset black;
    height: 350px;
    background-color: beige;
    text-align: justify;
    padding-bottom: 20px;
    list-style-type: none;
    width: 130px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-image: radial-gradient(rgb(145, 203, 203), beige);

}



.menu{

    margin-left: 80px;
   align-content: center;
   margin-top: 126px;
   
   
   
}

li :hover{
    background-color: #F6DDCC;
    font-size: 20px;
    transition: 95ms;
}
li{
    margin: 1em;
    list-style-type: none;
    text-decoration: none;
    }


    .parrafo{
        position: relative;
        border: 2px solid black;
        top: 0px;
        
        padding: 0px;
        border-radius: 10px;
        font-size: 20px;
    }


    .parrafo :hover{
        background-color: aqua;
    }
    h3{
        text-align: center;
        text-decoration: underline;
    }

    .fotos{
        width: 200px;
        margin-top: 10px;
        margin-left: 50px;
    }

    .fotosanimacion :hover{
        width: 300px;
        transition: 1s;
        
    }

   
    .parrafo2{
        position: relative;
        text-align:center;
        border: 2px solid black;
        top: 30px;
        background-color: beige;
        padding: 20px;
        border-radius: 10px;
        font-size: 18px;
        
       
      
    }

    .parrafo3{
        align-content: center;
        position: relative;
        right: 50px;
    }

    

    .footer{
        position: relative;
        text-align: center;
        padding-top: 100px;
        font-size: 20px;
        align-content: center;
        right: 50px;
        
        }



 .inicio{
    position: fixed;
    top: 720px;
    left: 1160px; 
    border: 2px solid black;
}


@keyframes aparecer {
    0%{
        opacity: 0;

    }
    100%{
        opacity: 1;
    }
}

h2 {
    animation-duration: 4s;
    animation-name: aparecer;
    animation-iteration-count: infinite;
}
.imganimada{
    animation-duration: 4s;
    animation-name: aparecer;
    animation-iteration-count: infinite;
}
    



